.Rproj.user
.Rhistory
.RData
.Ruserdata

# R Environment Data
.Renviron

# RStudio Connect folder
rsconnect/

# Example code in package build process
*-Ex.R

# Output files from R CMD build
/*.tar.gz

# Output files from R CMD check
/*.Rcheck/

# RStudio files
.Rproj.user/